<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Pricing calculator demo app!
  </h1>
</div>
<div class="mbr-gallery">
  <app-card *ngFor="let card of cards" [card]=card (changeCard)="onChangeCard($event)">
  </app-card>
  <div class="clearfix"></div>
</div>
<footer class="price-result-footer"><p>You'll pay only {{price | currency:'CHF '}} for your fairy tail wedding. <br>Contact me to find out more !</p></footer>
<router-outlet></router-outlet>