.price-result-footer {
    position: sticky; 
    bottom: 0;
    background-color: rgb(35, 35, 35);
    width: 100%;
    /*height: 150px;*/
}

.price-result-footer p {
    padding: 30px;
    color: rgb(177, 163, 116);
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    font-family: 'Lobster Two', display;
    font-size: 1.8rem;
}


:host {
    display: table;
}

.mbr-gallery {
    display: block;
}